.ProHeader-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.foo-top-button{
    border-radius: 15px;
    background: #EC4137;
    width: 142px;
    height: 30px;
    flex-shrink: 0;
    padding-top: 8px;
    padding-bottom: 30px;
    color: #fff;
}

.ProHeader-home{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.logo-footer{
    height: 80px;
    width: 170px;
}

.item-foo{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 6px;
}

.foo-heding{
    font-size: 28px;
}

.logo-pro-male{
    height: 60px;
    width: 60px;
}